  
 /*  .select-container {
    width          : 80%;
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
  }
 */
  /* .button_validate {
    width: 30%;
  } */

 /*  .button_download {
    width: 20%;
  }
 */
  /* .button_download,
  .button_validate,
  .informations_bar {
    color           : rgb(48, 43, 43);
    background-color: #dfe4ea;
    text-align      : center;
    border-radius   : 40px;
  } */

  /* .selection-container {
    display        : flex;
    height         : 100%;
    align-items    : center;
    flex-direction : column;
    justify-content: space-around; 
  } */

 /*  .informations_bar {
  width      : 80%;
  height     : 50px;
  font-size  : 32px;
  font-weight: 400;
  line-height: 50px;
  position   : static;
  top        : 20px;
  } */

/* .slt {
  width : 100px;
  height: auto;
  color : #c0392b;
}
 */
/* @media screen and (max-width: 800px) {
  .informations_bar {
    background-color: white;
  }
} */