

.header-toolbar{
  height: 6%;
  display: flex;
  justify-content: space-between;
  background-color: #007EAF;
  //background-image: url('/src/assets/logo_altran_header.png');

  .app-name{
    color:whitesmoke;
    font-size: 30px;
    text-decoration: none;
    font-family:  monospace;
    //font-style: italic;
  }

  .profile,
  .menu_brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .profile {
    margin-right: 45px;
    width: 30%;
    .fullname{
      width: 50%;
      display: flex;
      justify-content: space-around;
    }
    .profile_icon {
      font-size: 40px;
    }
  }

  .logo{
    width: 170px;
   
    
  }
}
.mat-sidenav-container{
  min-height: 88%;
}
.mat-sidenav{
  width:150px;  
}

.example-container {
 display: flex;
 flex-direction: column;
  height: 100%;
  //position: absolute;
 /*  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
