.informations_bar {
  margin          : auto;
  margin-top      : 10px;
  width           : 50%;
  height          : 20px;
  font-size       : 20px;
  font-weight     : 400;
  text-align      : center;
  color           : rgb(48, 43, 43);
  background-color: #eeeeee;
}
.FAQ {
  margin-top: 40px;
}