<mat-card class="informations_bar">
        Bienvenue sur la foire aux questions!
</mat-card>

<div class="FAQ">
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                Lorem ipsum dolor 
                        </mat-panel-title>
                        <mat-panel-description>
                                        Lorem ipsum dolor 
                        </mat-panel-description>
                </mat-expansion-panel-header>
        
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt inventore dolor blanditiis reprehenderit sequi eos tempore commodi nemo, sit architecto porro ipsa perferendis alias a quis neque facilis cumque.</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                        Lorem ipsum dolor 
                        </mat-panel-title>
                        <mat-panel-description>
                                        Lorem ipsum dolor 
                        </mat-panel-description>
                </mat-expansion-panel-header>
        
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolores dolore itaque blanditiis similique cum exercitationem consequuntur tempora sed, libero quod corrupti saepe nemo, delectus deserunt quasi molestias odio voluptates!</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                        Lorem ipsum dolor 
                        </mat-panel-title>
                        <mat-panel-description>
                                        Lorem ipsum dolor 
                        </mat-panel-description>
                </mat-expansion-panel-header>
        
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, aliquam nulla? Provident, vero dolor. Esse delectus aut optio. Dignissimos sit harum itaque ducimus quos reprehenderit eius illo aliquam officiis totam!</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                        Lorem ipsum dolor 
                        </mat-panel-title>
                        <mat-panel-description>
                                        Lorem ipsum dolor 
                        </mat-panel-description>
                </mat-expansion-panel-header>
        
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magni soluta maxime fugiat modi officiis numquam ducimus deleniti doloribus accusantium, consectetur at veritatis provident doloremque eveniet earum reiciendis. Vel, quaerat?</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                        Lorem ipsum dolor 
                        </mat-panel-title>
                        <mat-panel-description>
                                        Lorem ipsum dolor 
                        </mat-panel-description>
                </mat-expansion-panel-header>
        
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit saepe pariatur distinctio molestiae, laudantium amet doloremque perspiciatis atque quaerat tenetur tempore facilis adipisci voluptates sint, eum mollitia maxime et modi?</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                        Lorem ipsum dolor 
                        </mat-panel-title>
                        <mat-panel-description>
                                        Lorem ipsum dolor 
                        </mat-panel-description>
                </mat-expansion-panel-header>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore enim dolorum consectetur, corrupti harum quibusdam similique quisquam commodi, totam natus consequuntur non at dicta incidunt soluta pariatur ipsa dolores rerum.</p>
        </mat-expansion-panel>
</div>
<!-- <div classe="FAQ">
        <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
</div> -->